main {
  width: 80%;
  height: 100%;
  margin: 30px auto;
  background-color: $main_color;
  padding: 33px;
  .card {
    width: 20%;
    height: 320px;
    color: $font_color;
    background-color: $header_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    .album-img {
      width: 80%;
      img {
        width: 100%;
      }
    }
  }
}
